.post-link-container {
  margin: 1em 0;
}
.post-link-container a {
  text-decoration: none;
}
.post-link-title-txt {
  display: inline-block;
  margin: 0.2em 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 2.2em;
  font-weight: 400;
  color: #000;
}
.post-link-date-txt,
.post-link-tag-txt {
  display: inline-block;
  margin: 0 0.2em;
  color: #555;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}
.post-link-date-txt {
  margin-left: 0;
}
.post-link-tag-txt {
  font-weight: 100;
}
.post-link-tag-txt:hover {
  text-decoration: underline;
}
.post-link-tag-container {
  display: inline-block;
}
