header a {
  text-decoration: none;
  color: #000;
}

.header-title-txt {
  font-family: 'Noto Sans JP', sans-serif;
}
.category-filter-txt {
  display: inline-block;
  border-left: solid 1px #000;
  padding: 0 0.5em;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  color: #777;
}
.header-category-filter-container a:first-child h3 {
  border-left: none;
  padding-left: 0;
}
