.post-content-container {
  margin: 0 auto;
  font-size: 1.2em;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}

.post-title-txt {
  font-family: 'Noto Serif JP';
  font-weight: 400;
  font-size: 2.5em;
}
