.post-content-container {
  margin: 0 auto;
  padding: 0px 1.0875rem 1.45rem;
  max-width: 900px;
  font-size: 1.2em;
  font-family: 'Noto Serif JP', serif;
}

.post-title-txt {
  margin-bottom: 0.2em;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  font-size: 2.8em;
}
.post-date-txt,
.post-tag-txt {
  margin: 0 0.4em;
  color: #555;
  font-size: 0.95em;
  font-family: 'Noto Sans JP', sans-serif;
}
.post-date-txt {
  margin-left: 0;
  font-weight: 700;
}
.post-tag-txt {
  font-weight: 100;
}
.post-wrapper {
  font-size: 1.05em;
  line-height: 1.7em;
}
.post-wrapper blockquote {
  color: #555;
  font-style: italic;
}
.post-wrapper hr {
  margin: 0 auto 1.45rem auto;
  max-width: 30%;
  background-color: #888;
}
.post-wrapper h1,
.post-wrapper h2,
.post-wrapper h3,
.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  font-family: 'Noto Serif JP', serif;
}
.post-wrapper a {
  color: #0d69da;
  text-decoration: none;
}
.post-wrapper a:hover {
  text-decoration: underline;
}
.post-wrapper li {
  margin: 0;
}
.post-wrapper code {
  padding: 0.2em;
  background-color: #ddd;
  color: #333;
  border-radius: 0.2em;
}
.post-wrapper pre {
  background-color: #ddd;
}
.post-wrapper .youtube {
  margin: auto auto 1.45rem auto;
  width: calc(900px * 0.9);
  height: calc(900px * 0.9 * 0.9 / 1.6);
}
.post-wrapper .youtube iframe {
  margin: auto;
  width: 100%;
  height: 100%;
  border: none;
}
